body {
    background-image: url('assets/PremierCLT.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center center;
    heith: 100vh;
}
.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.line-break {
  color: #cc3333;
  border-top: 3px solid #cc3333;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 2.2em;
}

.pclt-btn-border {
  border: 2px solid #2e3c67;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.message-section {
  margin-right: 6.5em;
}